<section fxLayout="column">
  <go-top-button 
    [animate]="true" 
    [speed]="20"     
    [acceleration]="2" 
    [scrollDistance]="300"
    [styles]="{
      'top': '90%',
      'left': '93%',
      'border-radius': '7px',
      'background-color': '#e8e7e7',
      'height': '40px',
      'width': '40px'
    }">
    <mat-icon>expand_less</mat-icon>
  </go-top-button>
  <section fxLayout="column" fxLayoutAlign="start center">
    <pp-product-header [reviews]="reviews"></pp-product-header>
    <pp-product-info #reviews></pp-product-info>
  </section>  
  <pp-product-promotion id="promo" fxLayoutAlign="center center"></pp-product-promotion>
</section>