.nav-link.active {
  color: #000;
  background: #fff;
  border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link {
  color: white;
  background: #f4f4f4;
  border: 1px solid #ede8e8;
  color: #919194;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}