.sortBlock {
  padding: 20px 0;
  border-bottom: 1px solid #E8E7E7;
}

:host /deep/ .mat-button-toggle-label-content {
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
}

:host /deep/ label {
  margin: 5px 0;
}

ul, li {
  list-style-type: none;
  padding: 0 0 0 0;
}

li {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #e8e7e7;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  border: 1px solid #e8e7e7;
}

.price-name {
  font-size: 16px;
  color: #21416E;
  text-decoration: none;
  
  &:hover, &:active {
    color: #1792D6;
  }
}

.price-price {
  font-size: 21px;
  padding-top: 20px;
}

.btnBlue {
  background-color: #1792D6;
  color: #fff;
  padding: 0 6px 0 6px;
  font-size: 16px;
  margin-top: 20px;

  &:hover {
    background: #f43c4a;
  }
}

.price-descr {
  border-right: 1px solid #e8e7e7;
}

.price-company {
  margin-left: 10px;
}

.price-company-name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #21416E;
  text-decoration: none;
  
  &:hover, &:active {
    color: #1792D6;
  }
}

#icon {
  color: #919194;
  font-size: 17px;
  height: 15px;
  width: 15px;

  &:hover {
    color: #1792D6;
    cursor: pointer;
  }
}

.price-city {
  font-size: 16px;
  color: #B3B4B7;
  padding: 4px 0 9px 0;
}

.price-callme {
  font-size: 14px;
  color: #21416E;
  text-decoration: none;
  margin-top: 5px;
  
  &:hover, &:active {
    color: #1792D6;
  }
}

.mat-icon {
  color: #919194;
  font-size: 18px;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.price-hide {
  color: #21416E;
  cursor: pointer;
  
  &:hover, &:active {
    color: #1792D6;
  }
}

p {
  margin-bottom: 0;
}

.link {
  font-size: 14px;
  color: #1792D6;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
  
  &:hover, &:active {
    color: #21416E;
  }
}

.price-pro {
  font-size: 13px;
  color: #fff;
  width: 47px;
  height: 17px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  background-color: #f82e41;
}