<div fxFlex.gt-sm="1000px" fxFlex.lt-md="100" fxLayoutAlign="space-evenly center">
  <div fxFlex.gt-sm="67" fxFlex.lt-md="95">
    <h1>Армированная перемычка AEROC ПБ120.10.20-10Н с облегченным армокаркасом</h1>
    <div fxLayout.gt-sm="row" fxLayout.lt-sm="column">

      <div fxFlex.gt-sm="50" fxFlex>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>

      <div fxLayout="column" fxFlex="50">
        <b>Цену уточняйте</b>
        <span class="offers">Предложений: 28</span>
        <button class="btnBlue" mat-raised-button fxFlexAlign="start">Смотреть все цены</button>
        <div class="linkFullProd" fxLayout="column">
          <span fxFlexAlign="start" matTooltip="Оценок нет" matTooltipPosition="above">
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
          </span>
          <a class="link" (click)="openReview()" pageScroll href="#staticTabs" fxLayout="row" fxFlexAlign="start"><mat-icon>chat</mat-icon>добавить отзыв</a>
          <a class="link" pageScroll href="#promo" fxLayout="row" fxFlexAlign="start"><mat-icon>add_shopping_cart</mat-icon>покупают вместе</a>
        </div>
      </div>

    </div>
    <div fxLayout="column">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Другое сечение
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          </div>
          <div [hidden]="!show">
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
            <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          </div>
          <span>
            <a class="dotted" [hidden]="show" (click)="showMore()">Показать все</a>
            <a class="dotted" [hidden]="!show" (click)="showMore()">Скрыть</a>
          </span>
        </mat-expansion-panel>        
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Другая длина
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img tooltip="Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>