<div fxFlex.gt-sm="1000px" fxFlex.lt-md="100" fxLayoutAlign="space-evenly center">
  <div fxFlex.gt-sm="67" fxFlex.lt-md="95">
    <h1>Армированная перемычка AEROC ПБ120.10.20-10Н с облегченным армокаркасом</h1>
    <div fxLayout.gt-sm="row" fxLayout.lt-sm="column">

      <div fxFlex.gt-sm="50" fxFlex>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>

      <div fxLayout="column" fxFlex="50">
        <b>Цену уточняйте</b>
        <span class="offers">Предложений: 28</span>
        <button (click)="openPrices()" pageScroll href="#staticTabs" class="btnBlue" mat-raised-button fxFlexAlign="start">Смотреть все цены</button>
        <div class="linkFullProd" fxLayout="column">
          <span fxFlexAlign="start" tooltip="Оценок нет" placement="top">
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
            <mat-icon id="star">star_rate</mat-icon>
          </span>
          <a class="link" (click)="openReview()" pageScroll href="#staticTabs" fxLayout="row" fxFlexAlign="start"><mat-icon>chat</mat-icon>добавить отзыв</a>
          <a class="link" pageScroll href="#promo" fxLayout="row" fxFlexAlign="start"><mat-icon>add_shopping_cart</mat-icon>покупают вместе</a>
        </div>
      </div>

    </div>
    <div fxLayout="column">
      <span fxLayout="row" fxFlexAlign="start" class="collapseText" (click)="isCollapsedFirst = !isCollapsedFirst"
        [attr.aria-expanded]="!isCollapsedFirst" aria-controls="collapseBasic">
        <mat-icon class="customIconColor" [hidden]="!isCollapsedFirst">add_circle</mat-icon>
        <mat-icon class="customIconColor" [hidden]="isCollapsedFirst">remove_circle</mat-icon>Другое сечение
      </span>
      <div id="collapseBasic" [collapse]="isCollapsedFirst">
        <div>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a [hidden]="!show" href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          <a [hidden]="!show" href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
          </div>
          <span>
          <a class="dotted" [hidden]="show" (click)="showMore()">Показать все</a>
          <a class="dotted" [hidden]="!show" (click)="showMore()">Скрыть</a>
          </span>
      </div>
      <hr>
      <span fxLayout="row" fxFlexAlign="start" class="collapseText" (click)="isCollapsedSecond = !isCollapsedSecond"
        [attr.aria-expanded]="!isCollapsedSecond" aria-controls="collapseBasic">
        <mat-icon class="customIconColor" [hidden]="!isCollapsedSecond">add_circle</mat-icon><mat-icon class="customIconColor" [hidden]="isCollapsedSecond">remove_circle</mat-icon>Другая длина
      </span>
      <div id="collapseBasic" [collapse]="isCollapsedSecond">
        <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
        <a href="#"><img [tooltip]="customTooltip" class="miniature-panel" src="https://imageserver.ibud.ua/third/2014/12/10/67x67x1/1454407390-1418209664-13923677249-a4peremichkiweb.jpg"></a>
      </div>
      <hr>
    </div>
  </div>
</div>

<ng-template #customTooltip>
  <div fxLayout="row" fxLayoutAlign="space-between start" >
    <div fxFlex="70">
      Армированная перемычка AEROC ПБ120.10.25-10Н с облегченным армокаркасом
    </div>
    <div fxFlex class="price">
      Цену уточняйте
    </div>
  </div>
</ng-template>